.task-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    .task-description {
        transition: all 0.2s ease;
        text-align: center;
        .task-check {
            margin-right: 1rem;
        }
    }
    .task-action {
        .task-btn-del {
            transition: all 0.2s ease-in;
            border: none;
            cursor: pointer;
        }
    }
}